<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Port" value="1337"/>
    <add key="HostUrl" value="http://tegster.asuscomm.com:1337"/>
    <add key="RedirectUri" value="http://tegster.asuscomm.com:1337/callback/"/>
    <add key="KeysPathEnding" value="\Services\keys.json"/>
    <add key="KeysFullPath" value=""/> <!-- The 'KeysPathEnding' will be used if value of 'KeysFullPath' or key 'KeysFullPath' is missing. If 'KeysFullPath' exists and have a value 'KeysPathEnding' will be ignored-->
  </appSettings>
</configuration>