@page
@{
}
<html>
<head>
    <title>Activate partify</title>
</head>
<body>
<h1>Activate partify</h1>
<form method="POST">
    <label for="activationKey">Partify activation key</label>
    <input type="text" id="activationKey" placeholder="Partify activation key" name="activationKey" />
    <input type="submit" />
</form>
</body>
</html>