@page
@{
}
<html>
<head>
    <title>Auth</title>
</head>
<body>
<h1>Auth that shit</h1>
<form method="POST">
    <label for="appleTVKey">Apple TV key</label>
    <input type="text" id="appleTVKey" placeholder="Apple TV key" name="appleTVKey" />
    <input type="submit" />
</form>
</body>
</html>